.assetsContainer {
  color: #dadce0;
  display: grid;
  width: 100%;
  padding: 16px 0;

  .sortHeader {
    display: grid;
    grid-template-columns:  3% 10% 11% 6% 6% 6% 6% 15% 15% 15%;
    color: #848e9c;
    padding: 8px;
    border-bottom: 1px solid #202434;
    border-top: 1px solid #202434;

    div {
      cursor: pointer;
      margin-right: 16px;

      &:hover {
        color: #dadce0;
      }
    }
  }

  .assetsList {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }
}

.alignRight {
  text-align: right;
}
