.AppNav {
    border-right: 1px solid #9530ea;
    width: 200px;
    min-height: 100vh;
    
    .AppNavUl {
        padding: 0;
        list-style: none;

        .AppNavLi {
            padding: 20px;
            text-align: center;
            color: #9530ea;
            cursor: pointer;
            transition: all .3s;
            
            a {
                text-decoration: none;
            }

            &:hover {
                background-color: #f3f8f7;
            }
        }
    }
}