.assetsContainer {
  color: #dadce0;
  display: grid;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: auto;

  .chartBoxHeader {
    display: flex;
    justify-content: space-between;

    .headerContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      h2 {
        margin: 8px 0 4px 0;
        font-size: 32px;
      }

      .headerAvatar {
        background-color: rgb(207, 214, 228);
        border-radius: 50%;
      }

      .headerDesc {
        color: #9FA5B9;
        font-size: 16px;
        display: flex;
        align-items: center;

        .headerAvatar {
          margin-right: 6px;
          padding: 2.5px;
        }
      }

      .portfolioChange {
        font-size: 16px;
      }
    }
  }

  .sortHeader {
    display: grid;
    grid-template-columns: 30px 175px 175px 150px 150px 85px 85px 85px 85px 250px 30px;
    color: #848e9c;
    padding: 8px;

    div {
      margin-right: 32px;
      &:hover {
        color: #dadce0;
      }
    }
  }

  .assetsList {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-width: 1200px;
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }
}

.alignRight {
  text-align: right;
}

.pointer {
  cursor: pointer;
}
