.assetsContainer {
  color: #dadce0;
  display: grid;
  width: 80%;
  padding: 16px;

  .sortHeader {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 7% 7% 7% 3%;
    color: #848e9c;

    div {
      cursor: pointer;
      &:hover {
        color: #dadce0;
      }
    }

    & > div:not(:first-child) {
      text-align: right;
    }
  }

  .assetsList {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }
}
