/* Your styles goes here. */
.App {
    .AppContainer {
        display: flex;
    }

    select, input, textarea {
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    select:focus-visible,
    input:focus-visible,
    textarea:focus-visible {
        border-color: #1976d2;
        outline: -webkit-focus-ring-color auto 0;
    }

    svg {
        font-size: 20px;
    }
}