.Button {
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    background-color:  #9530ea;
    color: #fff;
    // width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}