.Button {
    margin: 15px auto;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .7;
    }

    &:disabled {
        cursor: not-allowed;
    }
}