.StartPage {
    width: calc(100vw - 200px);

    .TopPanelContainer {
        display: flex;
        align-items: center;
    }

    .Introduce {
        margin: 30px auto;
        max-width: 50vw;
    }

    .ButtonsPanel {
        display: flex;
        justify-content: space-around;
        margin: auto;
        padding: 20px 0;
        max-width: 50vw;
        text-align: center;

        .Button {
            padding: 10px 20px;
            border-radius: 9999px;
            background-color:  #9530ea;
            color: #fff;
            width: 25%;
            text-decoration: none;
            cursor: pointer;
            transition: .3s;

            &:hover {
                opacity: .7;
            }
        }
    }
}