// colors

$violet:  #9630ea;
$yellow:  #ffde51;
$blue:  #6CD6ED;

$bgc-dark:  #121a26;
$bgc-input:  rgb(30,43,62);
$bgc-hover:  #30305a;
$smooth-bgc-img:  linear-gradient(43deg,$blue, $violet 46%, $yellow);

$txt: #fff;

%gradient-txt {
    background: -webkit-linear-gradient(45deg, $yellow 0%, $violet 50%, $blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// font

$baseline: 16px;