// colors

$violet:  #9630ea;
$yellow:  #ffde51;
$blue:  #6CD6ED;

$bgc-dark:  #121a26;
$bgc-input:  rgb(30,43,62);
$smooth-bgc-img:  linear-gradient(43deg,$blue, $violet 46%, $yellow);

$txt: #fff;

// font

$baseline: 16px;