.AvatarGalleryContainer {
    .AvatarGalleryTxt {
        text-align: left;
        color: gray;
    }
    .AvatarGallery {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 100px;
            height: 100px;
            margin: 5px;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 50%;
            height: 70px;
            width: 70px;
             
            &.SelectedAvatar {
                border-color: #9530ea;
            }
        }
    }
}