.Login {
    width: calc(100vw - 200px);

    .TopPanelContainer {
        display: flex;
        align-items: center;
    }

    .LoginForm {
        margin: 30px auto;
        padding: 15px;
        max-width: 50%;
        text-align: center;
    
        .LoginInput {
            display: block;
            margin-bottom: 5px;
            padding: 5px;
            width: 100%;
        }
    }
}