.Login {
    margin-top: 100px;
    width: calc(100vw - 200px);

    .TopPanelContainer {
        display: flex;
        align-items: center;
    }

    .LogoContainer {
        display: flex;
        align-items: center;
        justify-content: center;

        .Logo {
            margin-left: 10px;
            width: auto;
            height: 50px;
        }
    }

    .LoginForm {
        margin: 30px auto;
        padding: 15px;
        max-width: 50%;
        text-align: center;
    
        .LoginInput {
            display: block;
            margin-bottom: 5px;
            padding: 5px;
            width: 100%;
        }
    }
}