.assetRow {
  display: grid;
  grid-template-columns: 30px 175px 175px 150px 150px 85px 85px 85px 85px 250px 30px;
  padding: 8px;
  align-items: center;
  transition: 0.3s;
  border-radius: 10px;
  font-weight: 700;
  
  &:hover {
    background-color: #222531;
  }

  & > div {
    margin-right: 32px;
  }

  .firstColumn {
    display: flex;
    align-items: center;

    .image {
      width: 25px;
      height: 25px;
      margin-right: 8px;
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    .upperItem {
      text-transform: uppercase;
    }

    .lowerItem {
      color: #848e9c;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .trashIcon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-left: 24px;

    &:hover {
      color: #ef454a;
    }
  }
}

.alignRight {
  text-align: right;
}