/* You can add global styles to this file, and also import other style files */

@import './scss/Variables.module.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;

  // dark theme

  .DarkTheme {
    background-color: $bgc-dark;

    .DarkThemeContainer {
      background-color: $bgc-input-dark;

      select {
        background-color: $bgc-dark;
      }
    }

    .DarkThemeNav li a {
      color: $blue;
      &:hover,
      span,
      span::before {
        background-color: $bgc-hover-dark;
      }
    }

    .DarkThemeNav li .DarkThemeActiveLink {
      border: 2px solid $blue;
    }

    .DarkThemeAmount {
      color: $blue;
      span {
        color: $txt-dark;
      }
    }

    select,
    input,
    textarea {
      background-color: $bgc-input-dark;
      color: $txt-dark;

      &::placeholder {
        color: $txt-dark;
      }
    }

    label,
    h1,
    h2,
    p {
      color: $txt-dark;
    }
  }

  // light theme

  .LightTheme {
    background-color: $bgc-light;

    .LightThemeContainer {
      background-color: $bgc-input-light;

      select {
        background-color: $bgc-light;
      }
    }
    .LightThemeNav li a {
      color: $violet;

      &:hover,
      span,
      span::before {
        background-color: $bgc-hover-light;
      }
    }

    .LightThemeNav li .LightThemeActiveLink {
      border: 2px solid $violet;
    }

    .LightThemeAmount {
      color: $violet;
      span {
        color: $txt-light;
      }
    }

    select,
    input,
    textarea {
      background-color: $bgc-input-light;
      color: $txt-light;

      &::placeholder {
        color: $txt-light;
      }
    }

    label,
    h1,
    h2,
    p {
      color: $txt-light;
    }
  }
}
