.tooltipWrapper {
  position: relative;
  left: 2%;
  .tooltipIconContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 17px;
    width: 17px;
    background-color: rgb(146 146 146);
    transition: all 0.3s;

    p {
      font: italic bold 12px/17px sans-serif;
    }
  }

  .tooltipComponentContainer {
    position: absolute;
    transform: translateX(-50%);
    margin-top: 10px;
    border-radius: 50px;
    width: 300px;
    text-align: left;
    z-index: 99;
    p {
      padding: 15px;
      font-weight: 600;
      background-color: rgb(137, 131, 131);
    }
  }
}
