.SortedPanel {
    display: flex;
    justify-content: space-around;
    background-color: #f3f8f7;

    .SortedPanelContainer {
        display: flex;
        flex-direction: column;
    
        .SortedForm {
            display: flex;

            & > * {
                margin: 10px;
            }
        }

        .ButtonsPanel > * {
            margin: 10px 15px 20px 15px;
        }
    }
}