.SortedPanel {
    display: flex;
    flex-direction: column;

    .SortedForm {
        display: flex;
        flex-direction: column;
        
    
        .SortedPanelContainer {
            display: flex;

            & > * {
                margin: 10px;
            }
        }

        .ButtonsPanel > * {
            margin: 10px 15px 20px 15px;
        }
    }
}