.AddExpense {
        margin: auto;
        padding: 15px;
        max-width: 600px;
        
        
        .FormAddExpense {
            margin: 0 auto;
            padding: 20px;
            text-align: start;

            .FormAddExpenseLabel {
                margin: 0 ;
            }

            .TypeOfExpense, .FormAddExpenseTextarea {
                margin: 10px auto;
                padding: 5px;
                width: 100%;
            }

            .FormAddExpenseTextarea {
                width: calc(100% - 10px);
                resize: vertical;
            }

            .AmountContainer {
                .AmountInput {
                    margin: 10px 10px 10px 0;
                }

                .AmountInput, .TypeOfCurrency {
                    width: 40%;
                    padding: 10px;
                }
                
            }
        }

        .ButtonsPanel {
            display: flex;
            justify-content: space-around;
        }
}