.ChangePasswordContainer {
  form {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;

    input, .FormErrors {
      margin: 5px auto;
      padding: 10px;
      width: 70%;
    }

    .ButtonsPanel {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}
