.SignUp {
    width: 70vw;
    text-align: center;

    .SignUpForm {
        margin: auto;
        padding: 15px;
        max-width: 600px;

        .SignUpInput {
            display: block;
            margin-bottom: 5px;
            padding: 5px;
            width: calc(100% - 10px);
        }

        .ButtonsPanel {
            display: flex;
            justify-content: space-around;
            
            .SignUpButton {
                margin: 15px auto;
                padding: 10px 20px;
                border-radius: 9999px;
                border: none;
                background-color:  #9530ea;
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                transition: .3s;
    
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}