.ExpenseList {
    padding-bottom: 40px;
    width: calc(100vw - 200px);
    background-color: #ececeb;
    
    .ExpenseListContainer {
        
        h3 {
            text-align: center;
        }

        h3 {
            color: #aaa;
        }
    }
}



