.ExpenseList {
    .AddExpenseContainer > :first-child {
        position: fixed;
        bottom: 5%;
        right: 10%;
    
    }

    .ExpenseListContainer {
        width: calc(100vw - 200px);
        
        h2 {
            text-align: center;
        }
    }
}



