@import '../../../scss/Variables.module.scss';

.ExpenseItem {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 15px;
    max-width: 600px;
    border: 1px solid $blue;
    background-color: $bgc-input;

    .ExpenseCategory {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .ExpenseInfo {
            display: flex;
            
            .ExpenseIco {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid transparent;
                border-radius: 50%;
                height: 40px;
                width: 40px;
            }

            .Category {
                margin-left: 15px;
                font-weight: bold;
            }
        }
        .ExpenseAmount p {
            font-weight: bold;
            color: $blue;
        }   
    }

    .ExpenseDesc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 20px;
        width: 100%;
        
        .DeleteButtonContainer {
            svg {
                padding: 10px 12px;
                color: rgb(215, 10, 10);
                cursor: pointer;
                transition: 1s;
                &:hover {
                    transform: rotateY(180deg);
                }
            } 
        }
    }
}